

/* Fonts
*********************************/
@font-face {
    font-family: 'coolveticaregular';
    src: url('fonts/coolvetica_rg-webfont.eot');
    src: url('fonts/coolvetica_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/coolvetica_rg-webfont.woff2') format('woff2'),
         url('fonts/coolvetica_rg-webfont.woff') format('woff'),
         url('fonts/coolvetica_rg-webfont.ttf') format('truetype'),
         url('fonts/coolvetica_rg-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Boostrap Custom CSS
*********************************/
body
{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

h1, h2
{
    font-family: 'coolveticaregular';
    text-transform: uppercase;
}

.navbar
{
    min-height: 95px;
    margin-bottom: 0;
}

.navbar-nav > li > a
{
    margin-top: 40px;
    padding: 0 10px 0 10px;
    border-left: 1px solid red;
}

.navbar-nav > li:first-child > a
{
    border-left: none;
}

.navbar-header
{
    min-height: 95px;
}

.navbar-brand
{
    padding: 0;
}

hr
{
    border-top: 1px solid;
}

/* Carousel Custom CSS
*********************************/
.carousel.slide
{
    max-width: 2000px;
    overflow: hidden;
}

.carousel-inner
{
    width: 2000px;
    left: 50%;
    margin-left: -1000px;
}

/* Utilities CSS
*********************************/
.resetPM
{
    padding: 0!important;
    margin: 0!important;
}

.resetP
{
    padding: 0!important;
}

.resetM
{
    margin: 0!important;
}

hr.big
{
    border-top: 2px solid;
}

/* Custom CSS
*********************************/
#homeBanner
{
    height: 50px;
}
#pageBanner
{
    height: 70px;
}

#homeFooter h2 {
    margin: 0;
    display: inline-block;
}
#homeFooter h4 {
    margin: 0;
}

#homeFooter img
{
    margin-bottom: 15px;
}
#contactForm
{
    margin-top: 20px;
}
footer
{
    height: 50px;
    margin-top: 25px;
}

footer p
{
    margin-top: 15px;
}

#btnRDV
{
    max-width: 155px;
    margin-top: 25px;
}

.row form input {
	margin-bottom: 15px;
}
.row form label {
	margin-top: 5px;
}
.row form .btn {
	margin-top: 15px;
}

.articleList {
	margin-bottom: 30px;
}

.articleList h3 {
	display: inline-block;
	margin-top: 0;
}
.articleList p {
	margin-top: 15px;
}
.articleList .btn-success {
	margin-left: 15px;
}

/* MediaQueries
*********************************/
@media (min-width:1200px)
{
    #logoTop
    {
        max-width: 380px;
    }
    .navbar-nav
    {
        margin-left: 80px;
    }
}

@media (max-width:1199px)
{
    #logoTop
    {
        max-width: 330px;
        margin-top: 5px;
    }
    .navbar-nav
    {
        margin-left: 40px;
    }
}

@media (max-width:991px)
{
    #logoTop
    {
        max-width: 200px;
        margin-top: 25px;
    }
    .navbar-nav
    {
        margin-left: 0;
    }
    #btnRDV
    {
        max-width: 130px;
        margin-top: 32px;
    }
}

@media (min-width:768px) and (max-width:991px)
{
	#homeFooter img {
		margin-top: 20px;
	}
}


@media (max-width:767px)
{
    #logoTop
    {
        max-width: 300px;
        margin-top: 10px;
    }
    .navbar-nav > li > a
    {
        margin-top: 20px;
        padding: 0 20px 0 0;
        border-left: none;
    }
    #btnRDV
    {
        max-width: 155px;
        margin-top: 0;
        margin-left: 15px;
    }
    footer p
    {
        text-align: center !important;
    }
}


